.gallery {
    border:  #eee 2px solid;
    box-shadow: 10px 10px 10px grey;
    background: #fff;
    margin: 40px;
    padding: 30px;
}


.whyChooseUs  {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    background: #fff;
    margin: 40px;
}

.whyChooseUs p {
    margin: 0px 5px 15px;
}

.whyChooseUsText {
    text-align: justify;
    font-size: 25px;
    background: #fff;
    grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
    color: black;
    margin: 40px;
    box-shadow: 10px 10px 10px grey;
    color: #570194;
}

.whyChooseUsText h2 {
    width: 50%;
    margin-left: 25%;
    background: #570194;
    text-align: center;
    color: #ffffff;
    padding: 10px;
}

.whyChooseUsText p {
    color: #570194;
}

.whyChooseUsText h4 {
    color: #570194;
}

/*  The image gallery show */
.imageGalleryContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 8px;
}



.imageGalleryContainer > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 2px grey;
    padding: 20px;
    border: 1px solid #ddd;
}

.imageGalleryContainer div {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.imageGalleryContainer > a > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 2px grey;
    padding: 20px;
    border: 1px solid #ddd;
}

.imageGalleryContainer img:hover {
    transition: 0.4s;
    transform: scale(1.2);
} 


